* {
    margin: 0;
    padding: 0;
    color: aliceblue;
}

#TaskInput::placeholder {
    color: aliceblue;
}

body {
    background-image: linear-gradient(45deg, rgb(180, 189, 224), rgb(54, 137, 179), rgb(199, 126, 219), rgb(79, 15, 148));
    height: 100vh;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(187, 193, 214);
}

.inputBox {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 95%; */
    padding: 15px 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    width: 55px;
    height: 30px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 5px;
    height: 35px;
    /* background-color: rgb(182, 189, 214); */
    background-color: transparent;

}

input {
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid white;
    width: 250px;
    height: 30px;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listContainer {
    
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    height: 500px;
    border: 2px solid white;
    border-radius: 60px;

}

#list {
    margin-top: 20px;
    height: 90%;
    width: 80%;
    font-size: x-large;
    /* border-radius: 10px;
    border: 2px solid red; */

}

.checkboxDiv {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 90%;
    margin-top: 20px;
    padding-top: 5px;
    gap: 10px;
    /* border-radius: 10px; */
    /* border: 2px solid yellow; */
}

li {
    margin-left: 20px;
    margin-bottom: 2px;
}